<section data-ng-controller="HomeController">

	<div class="row">
		<div class="col-md-2 sidebar">

			<div class="row">
				<h3>Event Stream</h3>
			</div>

			<ul class="nav nav-sidebar">

				<li ng-repeat="event in events" ng-click="updateEvent(event)">
					<p><b>{{event.name}}</b> | {{event.owner}}</p>
				</li>
		</div>

		<div class="col-md-9">
			
			<div class="row">
				<h3>Your Event</h3>
			</div>


			<div class="row">
				<div class="col-md-2">
					<button class="btn btn-default" ng-click="createEvent()">Create New Event</button>
				</div>

				<div class="col-md-2" ng-show="eventDisplay.creatingEvent">
					<p>Event Name: </p><input type="text" ng-model="newEvent">
					<p>Event Owner: </p><input type="text" ng-model="newOwner">
					<button class="btn btn-default" ng-click="addEvent()">Save Event</button>
				</div>

			</div>

       		<p>Name: {{eventDisplay.name}}</p>
       		<p>Owner: {{eventDisplay.owner}}</p>

		</div>
	</div>

</section>